data
keys
postgres_data
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
/scripts/markets.csv
/crypto_stats
/mage_data
/.vscode

!crypto_stats/data_exporters
!crypto_stats/data_loaders
!crypto_stats/custom

/notebooks
/scripts